<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="brendo.jpeg" alt="Foto do brendo">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Brendo Cliber</h5>

        <p class="card-text text-center text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit sapiente eveniet? Illum explicabo eveniet hic animi deserunt excepturi voluptate deleniti numquam, ullam facere ut, molestiae, voluptatem quos quibusdam provident.</p>

        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/brendo-cliber/" class="btn btn-outline-primary mb-2 mr-2 ml-2" target="_blank">LinkedIn</a>
            <a href="https://github.com/brendobc" class="btn btn-outline-dark mb-2 mr-2 ml-2" target="_blank">GitHub</a>
        </div>
        
    </div>
</div>